body {
    background-image: url(https://www.freegreatpicture.com/files/146/24885-colorful-high-resolution-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* background-position-x: left; */
}
header {
    font-size: 2rem;
    padding: 0.5em;
    /* border: inset 2pt gray; */
    font-family: 'Courier New', Courier, monospace;
}

#NavBar {
    float: right;
}

#NavBar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 3rem;
    padding-top: 1rem;
    vertical-align: middle;
   

}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding-top: 9rem;
}

  .wavy {
    position: relative;
  }

  .wavy span {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }

    20% {
      transform: translateY(-20px);
    }

    40%,
    100% {
      transform: translateY(0px);
    }
  }